html {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}


.header__top {
    height: 50px;
    background-color: #E5E5E5;
}   

.header__top__inner {
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.header__list {
    display: flex;
    list-style: none;
    
}

.list-item {
    margin-right: 30px;
}

.list-link {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.header__content {
    height: 100px;
    border-bottom: 1px #EFEFEF solid;
    padding-top: 20px;
}

.header__content__inner {
    display: flex;
    align-items: center;
}

.header__number {
    margin-right: 40px;
}

.header__logo {
    margin-right: auto;
}

.header__btn {
    padding: 12px;
    width: 170px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px #F13C6E solid;
    cursor: pointer;
}

.header__bottom {
    height: 48px;
    padding: 24px;
}

.header__bottom__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 40px;
    list-style: none;
}

.menu__link {
    color: #000;
    text-decoration: none;
}

.sale {
    height: calc(100vh - 50px - 121px - 96px);
    background-color: #F13C6E;
}

.sale__inner {
    display: flex;
    align-items: center;
}

.sale__title {
    margin-top: 192px;
    font-weight: 700;
    font-size: 48px;
    color: #fff;
}

.sale__text {
    margin-top: 32px;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    max-width: 308px;
}

.sale__btn {
    margin-top: 50px;
    color: #fff;
    padding: 12px;
    width: 170px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px #fff solid;
    cursor: pointer;
}

.sale__img {
    margin-left: 350px;
}

.product {
    background-color: #EFEFEF;
    height: 828px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.product__box {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.product__armchair {
    margin-top: 30px;
    background-color: #fff;
    width: 255px;
    height: 363px;
    margin-right: 30px;
}

.product__armchair:nth-child(4) {
    margin-right: 0;
}

.product__armchair:nth-child(8) {
    margin-right: 0;
}

.product__title {
    margin-bottom: 8px;
    font-size: 24px;
}

.product__text {
    max-width: 195px;
    margin-left: 30px;
}

.product__price {
    font-weight: 500;
    font-size: 21px;
}

.product__btn {
    text-align: center;
    color: #fff;
    padding: 12px;
    width: 130px;
    height: 35px;
    background-color: #F13C6E;
    border-radius: 40px;
    border: 2px #F13C6E solid;
    cursor: pointer;
    line-height: 35px;
}

.footer {
    padding-top: 81px;
}

.popular__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
}

.footer__subtitle {
    font-size: 16px;
    font-weight: 500;
    max-width: 99px;
    margin-bottom: 30px;
}

.popular__list {
    border-top: 1px solid #EFEFEF;
    width: 180px;
    padding-top: 25px;
    list-style: none;
}

.popular__list-item {
    margin-bottom: 15px;
}

.popular__list-link {
    text-decoration: none;
    color: #828282;
}

.footer__content {
    padding-top: 52px;
    padding-bottom: 52px;
}

.content__inner {
    display: flex;
}

.footer__link {
    margin-right: 20px;
}

.footer__number {
    margin-right: 40px;
}

.footer__btn {
    padding: 12px;
    width: 170px;
    background-color: transparent;
    border-radius: 40px;
    border: 2px #F13C6E solid;
    cursor: pointer;
    line-height: 16.41px;
}

.footer__links-wrapper {
    margin-right: auto;
}

.footer__bottom {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #EFEFEF;
}

.bottom__inner {
    display: flex;
    justify-content: space-between;
}

.bottom__copyright {
    color: #828282;
    font-size: 12px;

}

.bottom__political {
    color: #828282;
    font-size: 12px;
}